<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Cardiovascular Disease Detection</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
  <!-- <link rel="stylesheet" href="./static/style.css"> -->
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="single-user" checked><label for="tab-1" class="tab">INDIVIDUAL</label>
		<input id="tab-2" type="radio" name="tab" class="multi-user"><label for="tab-2" class="tab">MULTI-TEST</label>

		<div class="login-form">
			<div class="single-user-htm">
				<form action="/predict" method="POST">
	
					<div class="group">
						<label for="age" class="label">Age</label>
						<input id="age" name="age" type="text" class="input">
					</div>
					<div class="group">
						<label for="height" class="label">Height</label>
						<input id="height" name="height" type="text" class="input">
					</div>
					<div class="group">
						<label for="weight" class="label">Weight</label>
						<input id="weight" name="weight" type="text" class="input">
					</div>
					<div class="group">
						<label for="gender" class="label">Gender</label>
						<select id="gender" name="gender" class="input" id="input_select">
							<option value="1">Male</option>
	      		  			<option value="2">Female</option>
						</select>
					</div>
					<div class="group">
						<label for="ap_hi" class="label">Systolic blood pressure</label>
						<input id="ap_hi" name="ap_hi" type="text" class="input">
					</div>
					<div class="group">
						<label for="ap_lo" class="label">Diastolic blood pressure</label>
						<input id="ap_lo" name="ap_lo" type="text" class="input">
					</div>
					<div class="group">
						<label for="cholesterol" class="label">Cholesterol</label>
						<select id="cholesterol" name="cholesterol" class="input" id="input_select">
							<option value="1">Normal</option>
				      		<option value="2">Above normal</option>
				      		<option value="3">Well above normal</option>
						</select>
					</div>
					<div class="group">
						<label for="gluc" class="label">Glucose</label>
						<select id="gluc" name="gluc" class="input" id="input_select">
							<option value="1">Normal</option>
				      		<option value="2">Above normal</option>
				      		<option value="3">Well above normal</option>
						</select>
					</div>
					<div class="group">
						<label for="smoke" class="label">Smoke</label>
						<select id="smoke" name="smoke" class="input" id="input_select">
							<option value="0">No</option>
	      		  			<option value="1">Yes</option>
						</select>
					</div>
					<div class="group">
						<label for="alco" class="label">Alcohol</label>
						<select id="alco" name="alco" class="input" id="input_select">
							<option value="0">No</option>
	      		  			<option value="1">Yes</option>
						</select>
					</div>
					<div class="group">
						<label for="active" class="label">Physical Activity</label>
						<select id="active" name="active" class="input" id="input_select">
							<option value="0">No</option>
	      		  			<option value="1">Yes</option>
						</select>
					</div>

					
					<div class="group">
						<!-- <input type="submit" class="button" name="submitBtn" value="Test"> -->
						<button class="button" type="submit" name="submitBtn">Diagnose Patient</button>
					</div>
					<div class="hr">
						<h3>
						{{predicted_value}}
						</h3><br>
					</div>
				<!-- 	<div class="foot-lnk">
						<a href="#forgot">Forgot Password?</a>
					</div> -->
				</form>
			</div>
			<div class="multi-user-htm">
				<form id="upload-form" action="/predict_multi" method="POST">
					<div class="group">
						<label for="user" class="label">File Upload</label>
						<fieldset>
							<input type="file" class="input" name="file_upload" id="txtFileUpload" accept=".csv" />
						</fieldset>
						
						<ul id="statOutPut" class="outPut">
							<li>Total number of integers: <span data-bind="text: countOfIntegers">null</span></li>	
							<li>Mean value of all integers (to three decimal places): <span data-bind="text: meanOfIntegers">null</span></li>	
							<li>Highest number of integers in a single line: <span data-bind="text: highestLength">null</span></li>			
							<li>Most common integer: <span data-bind="text: commonInteger">null</span></li>				
						</ul>

					</div>
					
					<div class="group">
						<button class="button" type="submit">Diagnose Patients</button>
					</div>
					<div class="hr">
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- partial -->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
	<script src='https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>


<!--     <script src="js/papaparse.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>

  
</body>
</html>
